.bg2 {
    @extend .bg;
    height: 90vh !important;
    
}

h1, h3, p {
  letter-spacing: $letter-s;
}

/*Carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  margin-bottom: 17em;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: red;
}

